<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>DIEEC - In4Labs</title>
    
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- JavaScripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block scripts %}{% endblock %}

</head>

<!-- BODY -->
<body>
    <header id="main-header">
        <div class="logos-header">
            <img class="image" src="{{ url_for('static', filename='img/logo-uned.jpg') }}" alt="logo-uned">
        </div>
        {% block header %} {% endblock %}
    </header>
    
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul >
                {% for category, message in messages %}
                    {% if category == "error" %}
                    <li class="alert alert-danger">{{ message }}</li>
                    {% endif %}
                    {% if category == "success" %}
                    <li class="alert alert-success">{{ message }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </main>

    <footer>

    </footer>

</body>
</html> 